{% extends 'base.html.twig' %}

{% block title %}Profile - minishop{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>My account</h1>
        <a href="{{ path('app_logout') }}">Logout</a>
        <a href="#">Change password</a>
    </div>
{% endblock %}
